<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Todo List</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <% if(error !==0) { %>
                            <div class="row teal lighten-4">
                                <div class="col s12">
                                    <p class="center-align">
                                        <%= error %>
                                    </p>
                                </div>
                            </div>
                            <% }%>
                                <span class="card-title">ToDo List</span>
                                <div class="row">
                                    <form class="col s12" method="post" action="/update-task">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input value="<%= task.id %>" id="taskId" type="hidden" name="id">
                                                <input value="<%= task.task %>" id="task" type="text" name="task"
                                                    class="validate">
                                                <label for="task" class="active">Update Task</label>
                                            </div>
                                        </div>
                                        <input class="btn" type="submit" value="Update Task">
                                        <a class="btn" href="/">Cancel</a>
                                    </form>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></script> -->
</body>

</html>